$font_red: #bc0f0b;
$font_base: #5B5B5B;


@font-face{
	font-family: 'myfont';
	src:
	     url('../fonts/light.otf') format('opentype');
}
@font-face{
	font-family: 'myfont';
  font-variant: regular;
	src:
	     url('../fonts/regular.otf') format('opentype');
}
@font-face{
	font-family: 'myfont';
  font-weight: bold;
	src: url('../fonts/xbold.otf') format('opentype');
}

p {
  margin: 0;
}

body {
  background: url("../images/bg.png") repeat;
  font-family: 'myfont';
  font-variant: regular;
  color: $font_base;
}

#page_container {
  margin: 0 auto;
  width: 950px;
}

header {
  .logo {
    width: 174px;
    float: left;
    margin: 30px 20px;
    a {
      height: 73px;
      width:  174px;
      display: block;
      text-indent: -9999px;
      background: url("../images/logo.png") no-repeat;
    }
  }
  nav {
    float: right;
    width: auto;
    margin: 43px 20px;
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      padding: 0 5px;
      font-size: 18px;
    }
    ul {
      float: left;
      list-style: none;
      li {
        display: inline;
        float: left;
        list-style: none;
        &.selected {
          a {
            color: $font_red;
          }
        }
      }
    }
  }
}

section {
  .redban {
    width: 950px;
    height: 177px;
    background: url("../images/redban.png") no-repeat;
    clear: left;
    text-transform: uppercase;
    font-size: 32px;
    color: white;
    p {
      line-height: 50px;
      padding: 43px 0 0 40px;
      &.smaller {
        font-size: 28px;
        padding-top: 0px;
      }
    }
  }
}

.content_home {
  .title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
    height: 35px;
    font-size: 16pt;
    color: $font_red;
  }
  .body {
    height: 500px;
  }
  .first {
    float: left;
    width: 292px;
    .title {
      width: 292px;
    }
    .head {
      height: 36px;
      width: 292px;
      background: url("../images/box_head.png") no-repeat;

    }
    .body {
      width: 292px;
      background: url("../images/box_body.png") repeat-y;
      text-align: center;
      p {
        padding: 10px 40px;
        line-height: 25px;
      }
    }
    .foot {
      width: 292px;
      height: 18px;
      background: url("../images/box_foot.png") no-repeat;
    }
  }

  .second {
    float: left;
    margin: 0 6px;
    .title {
      width: 353px;
    }
    .head {
      height: 36px;
      width: 353px;
      background: url("../images/box2_head.png") no-repeat;

    }
    .body {
      width: 353px;
      background: url("../images/box2_body.png") repeat-y;
    }
    .foot {
      width: 353px;
      height: 18px;
      background: url("../images/box2_foot.png") no-repeat;
    }
  }

  .third {
    float: left;
    width: 292px;
    .title {
      width: 292px;
    }
    .head {
      height: 36px;
      width: 292px;
      background: url("../images/box_head.png") no-repeat;

    }
    .body {
      width: 292px;
      background: url("../images/box_body.png") repeat-y;
    }
    .foot {
      width: 292px;
      height: 18px;
      background: url("../images/box_foot.png") no-repeat;
    }
  }
}

.content_other {
  .title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
    height: 35px;
    font-size: 16pt;
    color: $font_red;
  }
  .third {
    float: left;
    width: 292px;
    .title {
      width: 292px;
    }
    .head {
      height: 36px;
      width: 292px;
      background: url("../images/box_head.png") no-repeat;

    }
    .body {
      width: 292px;
      background: url("../images/box_body.png") repeat-y;
      text-align: center;
      height: 500px;
      p {
        padding: 10px 40px;
        line-height: 25px;
      }
    }
    .foot {
      width: 292px;
      height: 18px;
      background: url("../images/box_foot.png") no-repeat;
    }
  }

  .long{
    float: left;
    width: 658px;
    .title {
      width: 658px;
    }
    .head {
      height: 36px;
      width: 658px;
      background: url("../images/boxlong_head.png") no-repeat;

    }
    .body {
      width: 658px;
      background: url("../images/boxlong_body.png") repeat-y;
      min-height: 500px;
      p {
        padding: 15px 40px 30px 40px;
        line-height: 25px;
      }
      img {
        float: left;
        margin-right: 20px;
      }
      h2 {
        color: $font_red;
        font-size: 18px;
        padding-left: 40px;
        padding-right: 40px;
      }
    }
    .foot {
      width: 658px;
      height: 16px;
      background: url("../images/boxlong_foot.png") no-repeat;
    }
  }

}