$font_red: #bc0f0b;
$font_base: #5B5B5B;
$gray_border: #d5d5d7;

@font-face{
	font-family: 'myfont';
	src: url('../fonts/light-webfont.eot');
	src: url('../fonts/light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/light-webfont.woff') format('woff'),
	     url('../fonts/light-webfont.ttf') format('truetype'),
	     url('../fonts/light-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'myfont';
  font-variant: regular;
	src: url('../fonts/regular-webfont.eot');
	src: url('../fonts/regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/regular-webfont.woff') format('woff'),
	     url('../fonts/regular-webfont.ttf') format('truetype'),
	     url('../fonts/regular-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'myfont';
  font-weight: bold;
	src: url('../fonts/xbold-webfont.eot');
	src: url('../fonts/xbold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/xbold-webfont.woff') format('woff'),
	     url('../fonts/xbold-webfont.ttf') format('truetype'),
	     url('../fonts/xbold-webfont.svg#webfont') format('svg');
}

p {
  margin: 0;
}

.title a {
  text-decoration: none;
  color: $font_red;
  &:active {
    color: $font_red;
  }
  &:hover {
    text-decoration: underline;
  }
}

.body a {
  color: $font_red;
}

.clear {clear: both; padding: 5px;}

body {
  background: url("../images/bg.png") repeat;
  font-family: 'myfont';
  font-variant: regular;
  color: $font_base;
}

#page_container {
  margin: 0 auto;
  width: 950px;
}

header {
  .logo {
    width: 174px;
    float: left;
    margin: 15px 20px;
    a {
      height: 73px;
      width:  174px;
      display: block;
      text-indent: -9999px;
      background: url("../images/logo.png") no-repeat;
    }
  }
  nav {
    float: right;
    width: auto;
    margin: 28px 20px;
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: black !important;
      padding: 0 10px;
      font-size: 18px;
      &:hover {
        color: $font_red !important;
      }
    }
    ul {
      float: left;
      list-style: none;
      li {
        display: inline;
        float: left;
        list-style: none;
        &.selected {
          a {
            color: $font_red !important;
          }
        }
      }
    }
  }
}

section {
  .redban {
    width: 950px;
    height: 177px;
    background: url("../images/redban.png") no-repeat;
    clear: left;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 32px;
    color: white;
    p {
      line-height: 50px;
      padding: 43px 0 0 40px;
      text-shadow: 1px 1px 1px #980201;
      &.smaller {
        font-size: 28px;
        padding-top: 0px;
      }
    }
  }
}

.content_home {
  .title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
    height: 35px;
    font-size: 16pt;
    color: $font_red;
  }
  .body {
    height: 500px;
  }
  .first {
    float: left;
    width: 292px;
    .title {
      width: 292px;
    }
    .head {
      height: 36px;
      width: 292px;
      background: url("../images/box_head.png") no-repeat;

    }
    .body {
      width: 292px;
      background: url("../images/box_body.png") repeat-y;
      text-align: center;
      overflow: hidden;
      p {
        padding: 10px 40px;
        line-height: 25px;
      }
    }
    .foot {
      width: 292px;
      height: 18px;
      background: url("../images/box_foot.png") no-repeat;
    }
  }

  .second {
    float: left;
    margin: 0 6px;
    .title {
      width: 353px;
    }
    .head {
      height: 36px;
      width: 353px;
      background: url("../images/box2_head.png") no-repeat;

    }
    .body {
      width: 353px;
      background: url("../images/box2_body.png") repeat-y;
      text-align: center;
      img {
        margin-top: 4px;
        clear: both;
      }
      p {
        text-transform: uppercase;
      }
    }
    .foot {
      width: 353px;
      height: 18px;
      background: url("../images/box2_foot.png") no-repeat;
    }
  }

  .third {
    float: left;
    width: 292px;
    .title {
      width: 292px;
    }
    .head {
      height: 36px;
      width: 292px;
      background: url("../images/box_head.png") no-repeat;

    }
    .body {
      width: 292px;
      background: url("../images/box_body.png") repeat-y;
      overflow: hidden;
    }
    .foot {
      width: 292px;
      height: 18px;
      background: url("../images/box_foot.png") no-repeat;
    }
  }
}

.content_other {
  .title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
    height: 35px;
    font-size: 16pt;
    color: $font_red;
  }
  .third {
    float: left;
    width: 292px;
    .title {
      width: 292px;
    }
    .head {
      height: 36px;
      width: 292px;
      background: url("../images/box_head.png") no-repeat;

    }
    .body {
      width: 292px;
      background: url("../images/box_body.png") repeat-y;
      //text-align: center;
      min-height: 500px;
      max-height: 500px;
      &.contact {
        min-height: 200px;
      }
      p {
        line-height: 25px;
      }
      h3, h2, h1 {
        margin: 0;
        color: $font_red;
        font-size: 14pt;
      }
    }
    .foot {
      width: 292px;
      height: 18px;
      background: url("../images/box_foot.png") no-repeat;
    }
  }

  .long{
    float: left;
    width: 658px;
    .title {
      width: 658px;
    }
    .head {
      height: 36px;
      width: 658px;
      background: url("../images/boxlong_head.png") no-repeat;

    }
    .body {
      width: 658px;
      background: url("../images/boxlong_body.png") repeat-y;
      min-height: 500px;
      p {
        line-height: 25px;
      }
      img {
        float: left;
        margin-right: 20px;
      }
      h2 {
        color: $font_red;
        font-size: 20px;
      }
      h3 {
        color: $font_red;
        font-size: 18px;
      }
      h1 {
        color: $font_red;
        font-size: 22px;
      }
    }
    .foot {
      width: 658px;
      height: 16px;
      background: url("../images/boxlong_foot.png") no-repeat;
    }
  }

}

.footer {
  width: 950px;
  min-height: 170px;
  max-height: 180px;
  clear: left;
  background: url("../images/bulb.png") no-repeat;
  background-position: top right;
  position: relative;
  top: -11px;
  .footer_section {
    padding: 27px 20px;
    img {
      float: left;
    }
    p {
      font-size: 8pt;
      line-height: 18px;
      padding-top: 11px;
    }
  }
}

.inquiries {
  padding-left: 40px;
  //padding-top: 40px;
  div {
    clear: both;
  }
  label {
    float: left;
    line-height: 40px;
  }
  input[type="text"], textarea {
    width: 490px;
    margin-bottom: 25px;
    border: 1px solid $gray_border;
    background-color: #f7f7f7;
    border-radius: 5px;
  }
  input, textarea {
    float: right;
    margin-right: 40px;
  }

  input[type="text"] {
    height: 30px;
  }

  #inquiry_submit {
    width: 92px;
    color: white;
    height: 39px;
    text-shadow: 1px 1px black;
    background: url("../images/btn_send.png") no-repeat;
    outline: none;
    cursor: pointer;
    border: none;
  }


}

.errorExplanation {
  color: red;
  p {
    padding: 0 !important;
  }
}

.calendar {
  hr {
    width: 80%;
    border-width: 0;
    border-top: 1px solid $gray_border;
  }
  h3 {
    margin: 0;
    color: $font_red;
    font-size: 14pt;
  }
  .event {
    padding: 10px 40px;
    //margin-bottom: 15px;
    .event_date {
      text-transform: uppercase;
      float: left;
      width: 30%;
    }
    .event_content {
      float: right;
      width: 70%;
    }
  }
  p {
    padding: 0 !important;
    line-height: 23px;
  }

}


.padding_div {
  padding: 15px 40px 30px 40px;
}


.long {
  .body {
    #body_content_title {
      display: none !important;
    }
    #body_content_right {
      .inner {
        display: none !important;
      }
    }
  }
}

.hr {
  width: 206px;
  border-top: 1px solid $gray_border;
  clear: both;
}
