@font-face {
  font-family: 'myfont';
  src: url("../fonts/light-webfont.eot");
  src: url("../fonts/light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/light-webfont.woff") format("woff"), url("../fonts/light-webfont.ttf") format("truetype"), url("../fonts/light-webfont.svg#webfont") format("svg"); }

@font-face {
  font-family: 'myfont';
  font-variant: regular;
  src: url("../fonts/regular-webfont.eot");
  src: url("../fonts/regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/regular-webfont.woff") format("woff"), url("../fonts/regular-webfont.ttf") format("truetype"), url("../fonts/regular-webfont.svg#webfont") format("svg"); }

@font-face {
  font-family: 'myfont';
  font-weight: bold;
  src: url("../fonts/xbold-webfont.eot");
  src: url("../fonts/xbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/xbold-webfont.woff") format("woff"), url("../fonts/xbold-webfont.ttf") format("truetype"), url("../fonts/xbold-webfont.svg#webfont") format("svg"); }

p {
  margin: 0; }

.title a {
  text-decoration: none;
  color: #bc0f0b; }
  .title a:active {
    color: #bc0f0b; }
  .title a:hover {
    text-decoration: underline; }

.body a {
  color: #bc0f0b; }

.clear {
  clear: both;
  padding: 5px; }

body {
  background: url("../images/bg.png") repeat;
  font-family: 'myfont';
  font-variant: regular;
  color: #5b5b5b; }

#page_container {
  margin: 0 auto;
  width: 950px; }

header .logo {
  width: 174px;
  float: left;
  margin: 15px 20px; }
  header .logo a {
    height: 73px;
    width: 174px;
    display: block;
    text-indent: -9999px;
    background: url("../images/logo.png") no-repeat; }
header nav {
  float: right;
  width: auto;
  margin: 28px 20px; }
  header nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: black !important;
    padding: 0 10px;
    font-size: 18px; }
    header nav a:hover {
      color: #bc0f0b !important; }
  header nav ul {
    float: left;
    list-style: none; }
    header nav ul li {
      display: inline;
      float: left;
      list-style: none; }
      header nav ul li.selected a {
        color: #bc0f0b !important; }

section .redban {
  width: 950px;
  height: 177px;
  background: url("../images/redban.png") no-repeat;
  clear: left;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 32px;
  color: white; }
  section .redban p {
    line-height: 50px;
    padding: 43px 0 0 40px;
    text-shadow: 1px 1px 1px #980201; }
    section .redban p.smaller {
      font-size: 28px;
      padding-top: 0px; }

.content_home .title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
  height: 35px;
  font-size: 16pt;
  color: #bc0f0b; }
.content_home .body {
  height: 500px; }
.content_home .first {
  float: left;
  width: 292px; }
  .content_home .first .title {
    width: 292px; }
  .content_home .first .head {
    height: 36px;
    width: 292px;
    background: url("../images/box_head.png") no-repeat; }
  .content_home .first .body {
    width: 292px;
    background: url("../images/box_body.png") repeat-y;
    text-align: center;
    overflow: hidden; }
    .content_home .first .body p {
      padding: 10px 40px;
      line-height: 25px; }
  .content_home .first .foot {
    width: 292px;
    height: 18px;
    background: url("../images/box_foot.png") no-repeat; }
.content_home .second {
  float: left;
  margin: 0 6px; }
  .content_home .second .title {
    width: 353px; }
  .content_home .second .head {
    height: 36px;
    width: 353px;
    background: url("../images/box2_head.png") no-repeat; }
  .content_home .second .body {
    width: 353px;
    background: url("../images/box2_body.png") repeat-y;
    text-align: center; }
    .content_home .second .body img {
      margin-top: 4px;
      clear: both; }
    .content_home .second .body p {
      text-transform: uppercase; }
  .content_home .second .foot {
    width: 353px;
    height: 18px;
    background: url("../images/box2_foot.png") no-repeat; }
.content_home .third {
  float: left;
  width: 292px; }
  .content_home .third .title {
    width: 292px; }
  .content_home .third .head {
    height: 36px;
    width: 292px;
    background: url("../images/box_head.png") no-repeat; }
  .content_home .third .body {
    width: 292px;
    background: url("../images/box_body.png") repeat-y;
    overflow: hidden; }
  .content_home .third .foot {
    width: 292px;
    height: 18px;
    background: url("../images/box_foot.png") no-repeat; }

.content_other .title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
  height: 35px;
  font-size: 16pt;
  color: #bc0f0b; }
.content_other .third {
  float: left;
  width: 292px; }
  .content_other .third .title {
    width: 292px; }
  .content_other .third .head {
    height: 36px;
    width: 292px;
    background: url("../images/box_head.png") no-repeat; }
  .content_other .third .body {
    width: 292px;
    background: url("../images/box_body.png") repeat-y;
    min-height: 500px;
    max-height: 500px; }
    .content_other .third .body.contact {
      min-height: 200px; }
    .content_other .third .body p {
      line-height: 25px; }
    .content_other .third .body h3, .content_other .third .body h2, .content_other .third .body h1 {
      margin: 0;
      color: #bc0f0b;
      font-size: 14pt; }
  .content_other .third .foot {
    width: 292px;
    height: 18px;
    background: url("../images/box_foot.png") no-repeat; }
.content_other .long {
  float: left;
  width: 658px; }
  .content_other .long .title {
    width: 658px; }
  .content_other .long .head {
    height: 36px;
    width: 658px;
    background: url("../images/boxlong_head.png") no-repeat; }
  .content_other .long .body {
    width: 658px;
    background: url("../images/boxlong_body.png") repeat-y;
    min-height: 500px; }
    .content_other .long .body p {
      line-height: 25px; }
    .content_other .long .body img {
      float: left;
      margin-right: 20px; }
    .content_other .long .body h2 {
      color: #bc0f0b;
      font-size: 20px; }
    .content_other .long .body h3 {
      color: #bc0f0b;
      font-size: 18px; }
    .content_other .long .body h1 {
      color: #bc0f0b;
      font-size: 22px; }
  .content_other .long .foot {
    width: 658px;
    height: 16px;
    background: url("../images/boxlong_foot.png") no-repeat; }

.footer {
  width: 950px;
  min-height: 170px;
  max-height: 180px;
  clear: left;
  background: url("../images/bulb.png") no-repeat;
  background-position: top right;
  position: relative;
  top: -11px; }
  .footer .footer_section {
    padding: 27px 20px; }
    .footer .footer_section img {
      float: left; }
    .footer .footer_section p {
      font-size: 8pt;
      line-height: 18px;
      padding-top: 11px; }

.inquiries {
  padding-left: 40px; }
  .inquiries div {
    clear: both; }
  .inquiries label {
    float: left;
    line-height: 40px; }
  .inquiries input[type="text"], .inquiries textarea {
    width: 490px;
    margin-bottom: 25px;
    border: 1px solid #d5d5d7;
    background-color: #f7f7f7;
    border-radius: 5px; }
  .inquiries input, .inquiries textarea {
    float: right;
    margin-right: 40px; }
  .inquiries input[type="text"] {
    height: 30px; }
  .inquiries #inquiry_submit {
    width: 92px;
    color: white;
    height: 39px;
    text-shadow: 1px 1px black;
    background: url("../images/btn_send.png") no-repeat;
    outline: none;
    cursor: pointer;
    border: none; }

.errorExplanation {
  color: red; }
  .errorExplanation p {
    padding: 0 !important; }

.calendar hr {
  width: 80%;
  border-width: 0;
  border-top: 1px solid #d5d5d7; }
.calendar h3 {
  margin: 0;
  color: #bc0f0b;
  font-size: 14pt; }
.calendar .event {
  padding: 10px 40px; }
  .calendar .event .event_date {
    text-transform: uppercase;
    float: left;
    width: 30%; }
  .calendar .event .event_content {
    float: right;
    width: 70%; }
.calendar p {
  padding: 0 !important;
  line-height: 23px; }

.padding_div {
  padding: 15px 40px 30px 40px; }

.long .body #body_content_title {
  display: none !important; }
.long .body .inner {
  display: none !important; }

.hr {
  width: 206px;
  border-top: 1px solid #d5d5d7;
  clear: both; }
